*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/build

# Signierung - darf niemals ins Repo
keystore.properties
*.jks
*.keystore
